html,
body {
  margin: 0;
  padding: 0;
}

.responsive {
  max-width: auto;
  height: auto;
}

a{
  color: rgb(176, 176, 176);
  font-size: 14px;
}

/*ANIMATION COVID*/
@keyframes r {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes r1 {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.roatate_me {
  position: absolute;
  border-radius: 100%;
  top: 20%;
  left: 45%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  border: 1px solid #ccc;

  animation-name: r;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.roatate_me img {
  position: absolute;
  left: 50%;
  top: -30PX;
  width: 100px;
  transform: translateY(-50%);
  transform: translateX(-50%);
  animation-name: r1;
  animation-duration: 35000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* Barre de navigation */
a:visited {
  color: rgb(177, 177, 177);;
}

a:hover {
  color: rgb(255, 255, 255);
}

.button:visited{
  color: rgb(255, 255, 255);
}

a:link {
  text-decoration: none;
  size: 12px;
}

.bannerCountDown {
  background-color: black;
  display: flex;
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  text-decoration: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centreerd {
  display: flex;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.header {
  background-color: #333333;
}

P {
  text-align: center
}

.nav {
  margin: 0;
  padding: 20px 0;
}

.nav li {
  color: #fff;
  display: inline;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-right: 25px;
  text-transform: uppercase;
}

/* iFrame */

.iFrame{
  width: 100%;
  height: 200px;
}

/* foto's */

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.row{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
  .row{
    width: 100%;
    height: 300px;
  }
}

/* Header Home */
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.jumbotron {
  height: 400px;
  background: url("Header/Home.jpg") no-repeat center center;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  position: relative;
  top: 110px;
  text-align: center;
}

.main h1 {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

/* Header 404 */
.container404 {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.jumbotron404 {
  height: 800px;
  background: url("Header/404.jpg") no-repeat center center;
  height: 450px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main404 {
  position: relative;
  top: 180px;
  text-align: center;
}

.main404 h1 {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}


/* Header Ateliers */
.jumbotron2 {
  height: 400px;
  background: url("Header/Ateliers.jpg") no-repeat center center;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container2 {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.main2 {
  position: relative;
  top: 110px;
  text-align: center;
}

.main2 h1 {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

/* Header Contact */
.jumbotron3 {
  height: 400px;
  background: url("Header/Contact.jpg") no-repeat center center;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container3 {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.main3 {
  position: relative;
  top: 110px;
  text-align: center;
}

.main3 h1 {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

/* Header Activiteiten */
.jumbotron4 {
  height: 400px;
  background: url("Header/Activiteiten.jpg") no-repeat center center;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container4 {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.main4 {
  position: relative;
  top: 110px;
  text-align: center;
}

.main4 h1 {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

/* Header Kunsttheorie */
.jumbotron5 {
  height: 400px;
  background: url("Header/Kunsttheorie.jpg") no-repeat center center;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container5 {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.main5 {
  position: relative;
  top: 110px;
  text-align: center;
}

.main5 h1 {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

/* Header Inschrijvingen */
.jumbotron6 {
  height: 40px;
  background: url("Header/Inschrijvingen.jpg") no-repeat center center;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container6 {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.main6 {
  position: relative;
  top: 110px;
  text-align: center;
}

.main6 h1 {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

/* Nieuwsberichten header */

.jumbotron7 {
  height: 400px;
  background: url("Header/Nieuwsberichten.jpg") no-repeat center center;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container7 {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.main7 {
  position: relative;
  top: 110px;
  text-align: center;
}

.main7 h1 {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

/* COVID */

.jumbotronCovid {
  height: 400px;
  background-color:#ededed;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.containerCovid {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.mainCovid {
  position: relative;
  top: 75px;
  text-align: center;
}

.mainCovid h1 {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

/* EXCURSIES */

.jumbotronExcursies {
  height: 400px;
  background-color:#ededed;
  height: 360px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.containerExcursies {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.mainExcursies {
  position: relative;
  top: 75px;
  text-align: center;
}

.mainExcursies h1 {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

/* Knoppen */

.jumbotronKnoppen {
  height: 400px;
  background-color:#ededed;
  height: 350px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.containerKnoppen {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
}

.mainKnoppen {
  position: relative;
  top: -15px;
  text-align: center;
}

.mainKnoppen h1 {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

/* Boutons */
.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-default {
  background-color: white;
  border: 1px solid #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
}

.button {
  background-color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 20px;
  color: white;
}

.button:hover {
  background-color: rgb(160, 160, 160);
  color: white;
}

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #ffffff;
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supporting img {
  height: 32px;
}

.supporting h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.supporting2 {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #ededed;
}

.supporting2 .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supporting2 img {
  height: 32px;
}

.supporting2 h2 {
  font-weight: 600;
  font-size: 23px;
  text-transform: uppercase;
}

.supporting2 p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 0 50px;
  margin-bottom: 40px;
}

.center-div
{
  margin: 0 auto;
  width: 100%;
  height: 500px;
  background-color: #ccc;
  border-radius: 3px;
  top: 300px;
}

/* Footer */

.clearfix {
  clear: both;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 11px;
}

@media (max-width: 500px) {
  .main h1 {
    font-size: 50px;
    padding: 0 40px;
  }

  .supporting .col {
    width: 100%;
  }
}

/* Text Multicolor*/
.Text {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
}
.dummy_page {
  height: 200px;
  width: 100%;
  background-color: #f0f0f0;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 0px;
}

/* footer design*/
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgb(177, 177, 177);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}
.footer .col ul li {
  color: #aaaaaa;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}

.textAteliers{
  text-align: center;
  display: flex;
  font-family: 'Raleway', sans-serif;
}


